---
---

.post-article {
    flex-basis: 100%;
}

.post-header {
    text-align: right;
}

.blog-categories li a::first-letter, .blog-keywords li a::first-letter {
    text-transform: capitalize;
}

.flex.blog {
    justify-content: space-evenly;
}